{% extends "layout.html" %} {% block content %} {% if validlink %}
<p>Please Enter and confirm your password</p>
<form action="" method="post">
  {{form.new_password1.errors}}
  <div class="mb-3">
    <label for="newpassword" class="form-label">New Password:</label>
    {{form.new_password1}}
  </div>
  {{form.new_password2.errors}}
  <div class="mb-3">
    <label for="confirmpassword" class="form-label">Confirm Password:</label>
    {{form.new_password2}}
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Change my password</button>
</form>
{% else %}
<h1>Password Reset failed</h1>
<p>
  The password link is invalid or broken. It may be expired or already used.
</p>
{% endif %} {% endblock content %}
