{% extends "layout.html" %} {% block content %}
<h2>My Borrowed Books</h2>
<ul class="list-group">
  {% if bookinstance_list %} 
  {% for bookinst in bookinstance_list %}
  <li class="list-group-item">
    <h5>
      <a href="{%url 'book-detail' bookinst.book.pk%}">
        {{bookinst.book.title}}
      </a>
    </h5>
    Due Back: <span class="{% if bookinst.is_overdue %} text-danger {% endif %}" >{{bookinst.due_back}}</span>
  </li>
  {% endfor %} {% else %}
  <h6>You have not borrowed any Books</h6>
  {% endif %}
</ul>
{% endblock content %}
